<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input { padding: 3px; }
    </style>
</head>
<body style="margin: 50px;">
    <h1>Login</h1>
    <hr>
    <form action="/sb/user/login" method="post">
        <input type="text" name="uid" placeholder="uid"><br><br>
        <input type="password" name="pwd" placeholder="password"><br><br>
        <input type="submit" value="로그인">
    </form>
</body>
</html>